@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #090040;
  --sidebar: #FFCC00;
  --primary: #471396;
  --secondary: #B13BFF;
  --text: #ffffff;
}

body {
  background-color: var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #471396;
}

::-webkit-scrollbar-thumb {
  background: #B13BFF;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFCC00;
}